<div class="search-car">
  <div class="container header">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 text-center">
              <h5> Marketplace for buyers and sellers who love cars </h5>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 text-center">
              <h1> Find your next car here </h1>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-12 text-right">
              <div class="heading">
                  <p class="heading-logo"> Advanced search </p>
              </div>
          </div>
      </div>

      <form>
          <div class="row no-gutters search-box mt-5">
              <div class="col-xl-2 col-md-2 col-sm-4 mr-0 my-2 tilte">
                  <select class="form-control">
                      <option> <i class="fa fa-map-marker" aria-hidden="true"></i> Toronto (+100km)</option>
                      <option>Caneda</option>
                      <option>India</option>
                      <option>America</option>
                      <option>Russia</option>
                  </select>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-4 my-2 tilte">
                  <select class="form-control">
                      <option>Brand and model </option>
                      <option>Ford</option>
                      <option>Toyota</option>
                      <option>Mahindra</option>
                      <option>Kia</option>
                  </select>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-4 my-2">
                  <div class="dropdown">
                      <input type="number" class="form-control" placeholder="Max prize">
                  </div>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-12 my-2 mr-0 search-button">
                  <button class="btn text-white" type="search"> <i class="fa fa-search mr-3" aria-hidden="true"></i> Search</button>
              </div>
          </div>
      </form>

  </div>
</div>
