<div class="filter-search">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <h1 class="heading">Continue your search </h1>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-12">
              <p class="heading" style="margin-left: 5px;">All makes, +1 filter </p>
          </div>
      </div>

      <div class="owl mt-3">
          <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/lamborghini_660_140220101539.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/960x0.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/photo-1494697536454-6f39e2cc972d.jpeg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/download.jpeg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/how-to-import-foreign-cars-to-india.png"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/carbon-fiber-shelby-mustang-1600685276.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/5c42536002ffe2853bc46f5ea56a128e.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top"
                          src="../../../assets/images/photo-1494697536454-6f39e2cc972d.jpeg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title text-center">85,000 km</h4>
                          <p class="card-text text-center">$8 300</p>
                      </div>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div>
