<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <i class="fa fa-key" aria-hidden="true"></i>
  </button>
  <span>Change Password</span>
  <span class="example-spacer"></span>

  <button matTooltip="Back to Home" mat-icon-button class="example-icon"[routerLink]="['/home']">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar> -->
<app-header></app-header>
<form [formGroup]="passwordChange" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline mt-3 mb-4 text-center" fxFlex="auto">
        <i class="fa fa-key" aria-hidden="true"></i>
      Change Password</h2>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <div class="ml-3">
  <mat-dialog-content fxLayout="column" class="ml-5">
    <p>
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input type="password" formControlName="oldPassword" class="form-control" value="" matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input type="password" formControlName="newPassword" class="form-control" value="" matInput>
      <button mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
      </button>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>New Password(again)</mat-label>
      <input type="password" formControlName="confirmPassword" class="form-control" value="" matInput>
      <button mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
      </button>
    </mat-form-field>
  </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button" [disabled]="passwordChange.invalid" (click)="rest()">REST</button>
    <button color="primary" mat-button type="submit" [disabled]="passwordChange.invalid">SAVE</button>
  </mat-dialog-actions>
  </div>
</form>

