<!-- <div class="market-status">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <h5 style="font-weight: bold;"> Market status </h5>
          </div>
      </div>

      <div class="row mt-5">
          <div class="col-xl-12">
      <div class="owl mt-4">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/carbon-fiber-shelby-mustang-1600685276.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/download.jpeg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/how-to-import-foreign-cars-to-india.png"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card mb-2">
                    <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                        alt="Card image cap">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
      </div>
    </div>
  </div>
</div> -->

<!-- market -->
<div class="mt-4">
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h5 style="font-weight: bold;"> Market status </h5>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="parent">
        <div class="child"></div>
        <div class="heading">
          <h1>  AUTO  <span class="head1"> MARKET </span> </h1>
        </div>
        <div class="about">
          <marquee direction = "up" scrollamount="2">
          <p>
            SINTRONES In-Vehicle Computing products provide a total solution for in-vehicle applications including driving performance monitoring as well as self-driving ability.
             They are highly flexible, supporting a wide range of peripherals and connections and can be adapted to all kinds of vehicle management systems like those with GPS, fleet monitoring,
              and vehicle repairing systems.<img src="../../../assets/images/carbon-fiber-shelby-mustang-1600685276.jpg" height="50" width="50"><br>
            The easy-to-use, intuitive interface makes SINTRONES In-Vehicle computers highly suitable for use in autonomous cars,
             public transportation and other applications which require the use of a high capacity system while at the same time maintaining simplicity in its function.
              In addition, they manage the vehicles’ internal capabilities to accurately assess and track its internal hardware and software states, forward-thinking usage,
              and all fleet movements.
          </p>
        </marquee>
        </div>
    </div>
  </div>
</div>
</div>
