<div class="logo">
  <div class="container">
      <div class="row mt-5">
          <div class="col-xl-12">
              <h1 class="heading">Popular makes </h1>
          </div>
      </div>

      <div class="owl mt-4">
          <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/M2b0wH9pQSC7DZPGHAm8Uw.jpeg"
                          alt="Card image cap">
                          <p class="card-title">Hundai</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/emblem_ogp_001.png"
                          alt="Card image cap">
                          <p class="card-title">Etios</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/Renault-logo-2015-2048x2048.png"
                          alt="Card image cap">
                          <p class="card-title">Renault</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/Kia-Logo-2.webp"
                          alt="Card image cap">
                          <p class="card-title">Kia</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/Mercedes-Benz-Logo.png"
                          alt="Card image cap">
                          <p class="card-title">Mercedes</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/Mahindra-logo.png"
                          alt="Card image cap">
                          <p class="card-title">Mahindra</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/ford-logo-2003.png"
                          alt="Card image cap">
                          <p class="card-title">Ford</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mt-3">
                      <img class="card-img-top" src="../../../assets/images/Mercedes-Benz-Logo.png"
                          alt="Card image cap">
                          <p class="card-title">Mercedes</p>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div>
