<div class="popular-product">
  <div class="container">
      <div class="row header">
          <div class="col-xl-10 col-md-9 col-sm-8">
              <h1> Most popular in Canada </h1>
          </div>


          <div class="col-xl-2 col-md-3 col-sm-4 my-2 search-product">
              <form>
                  <select class="form-control">
                      <option>Toronto (+100km)</option>
                      <option>Caneda</option>
                      <option>India</option>
                      <option>America</option>
                      <option>Russia</option>
                  </select>
              </form>

          </div>
      </div>

      <div class="owl mt-4">
          <owl-carousel-o [options]="customOptions" class="Owl-Carousel">
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/fd7a995f2dad2184603b14c31b3b1fd7.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <p class="card-title">2020</p>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/carbon-fiber-shelby-mustang-1600685276.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/5c42536002ffe2853bc46f5ea56a128e.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/960x0.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/photo-1494697536454-6f39e2cc972d.jpeg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/lamborghini_660_140220101539.jpg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/photo-1494697536454-6f39e2cc972d.jpeg"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="card mb-2">
                      <img class="card-img-top" src="../../../assets/images/how-to-import-foreign-cars-to-india.png"
                          alt="Card image cap">
                      <div class="card-body">
                          <h4 class="card-title">2020</h4>
                          <p class="card-text">Ford Mustang GT </p>
                          <a class="description" href="#"><p >1420 offers <i class="fa fa-angle-right ml-2" aria-hidden="true"></i> </p></a>
                      </div>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div>
