<div class="product-type">
  <div class="container">
  <div class="row header">
      <div class="col-xl-10 col-md-9 col-sm-8 col-xs-9">
          <h1> Browse by body type </h1>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-xs-3 link">
          <a href="#"> <h6> See all <i class="fa fa-angle-right ml-3" aria-hidden="true" style="font-weight: bold"></i></h6></a>
      </div>
  </div>


  <div class="row search-product">
      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/5c42536002ffe2853bc46f5ea56a128e.jpg"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">Sedan</h5>
              </div>
          </div>
      </div>

      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/lamborghini_660_140220101539.jpg"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">SUV</h5>
              </div>
          </div>
      </div>

      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/photo-1494697536454-6f39e2cc972d.jpeg"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">Sedan</h5>
              </div>
          </div>
      </div>

      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/960x0.jpg"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">Sedan</h5>
              </div>
          </div>
      </div>

      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/how-to-import-foreign-cars-to-india.png"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">Sedan</h5>
              </div>
          </div>
      </div>

      <div class="col-xl-2 col-md-4 col-sm-6">
          <div class="card mb-2">
              <img class="card-img-top"
                  src="../../../assets/images/lamborghini_660_140220101539.jpg"
                  alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title text-center">Sedan</h5>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
