.selling-product {
  margin-top: 75px;

  .selling-product-tab {
    display: inline-flex;
    margin-bottom: 25px;
    .nav-item{
    color: #000;
    }

    a.active {
      color: rgb(253, 76, 11);
    }
  }

  .nav-tabs {
    border-bottom: 1px solid rgb(156, 156, 156);
  }

  .nav-tabs .nav-link.active {
    position: relative;
    bottom: -1px;
    border: none;
    border-bottom: 3px solid rgb(253, 76, 11);
  }

  .best-selling, .most-visited{
    .card{
      .card-body{
        .card-title{
          color: #000;
        }
      }
    }
  }

  .card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 0 6px;
    height: 213px;
    transition: all .3s linear;

    .card-img-top {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 100%;
      height: 145px;
      object-fit: cover;
    }

    .card-body {
      .card-title {
        font-size: 12px;
        color: #bbb7b7;
      }

      .card-text {
        font-size: 12px;
      }

    }
  }
  .card-hover{
    height: 250px;
    .card-body{
      .description {
        text-decoration: none;
        color: #000;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        display: block;
        padding: 0;
        cursor: pointer;
        i{
          font-weight: bold;
        }
      }
    }
  }

.card-hover:hover {
  height: 280px;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  .card-body {
    .description {
      height: auto;
    }
  }
}
}

@media screen and (max-width: 380px) {
  .selling-product {
    .nav-tabs {
      border-bottom: 0;
      display: inline-block;

    }
  }
}
