<div class="footer">
  <div class="container">
      <hr>
  <div class="row">
      <div class="col-xl-3 col-sm-3 col-md-3">
          <div class="heading">
              <p> auto.market </p>
              <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              <a href="#"> <i class="fa fa-facebook ml-4" aria-hidden="true"></i> </a>
              <a href="#"> <i class="fa fa-twitter ml-4" aria-hidden="true"></i> </a>
          </div>
      </div>

      <div class="col-xl-2 col-sm-3 col-md-2">
          <div class="links">
              <ul>
                  <li><a href="#"> Home </a></li>
                  <li><a href="#"> Sell car </a></li>
                  <li><a href="#"> Buy car </a></li>
                  <li><a href="#"> Dealers </a></li>
              </ul>
          </div>
      </div>

      <div class="col-xl-2 col-sm-3 col-md-2 px-0">
          <div class="links">
              <ul>
                  <li><a href="#"> Trems of Use </a></li>
                  <li><a href="#"> Privacy Policy </a></li>
                  <li><a href="#"> Cookie Policy </a></li>
                  <li><a href="#"> AdChoice </a></li>
              </ul>
          </div>
      </div>

      <div class="col-xl-2 col-sm-3 col-md-2">
          <div class="links">
              <ul>
                  <li><a href="#"> Contact Us </a></li>
                  <li><a href="#"> Careers </a></li>
                  <li><a href="#"> Help </a></li>
                  <li><a href="#"> FAQ </a></li>
              </ul>
          </div>
      </div>

      <div class="col-xl-3 col-sm-3 col-md-3">
          <div class="google-link">
              <a href="#">
              <img class="app-store"
              src="../../../../assets/images/unnamed.jpg"
              > </a>
              <a href="#">
              <img class="google-play"
              src="../../../../assets/images/en_badge_web_generic.png"
              > </a>
              <div class="col-xl-8 col-md-12">
                  <form>
                      <select class="form-control">
                          <option>English</option>
                          <option>Hindi</option>
                          <option>French</option>
                          <option>German</option>
                          <option>Punjabi</option>
                      </select>
                  </form>
              </div>

          </div>
      </div>



  </div>

  <div class="row">
      <div class="col-xl-12">
          <p class="footer-text"> &copy; auto.market / 2000 - 2020. All rights reserved. </p>
      </div>
  </div>
</div>
</div>
